{% extends 'base.html' %}
{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.bundle.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'UserAuth/loginregister.css' %}">
        <link rel="stylesheet" href="{% static 'publicPages/index.css' %}">

{% endblock %}
{% block title %} ثبت نام {% endblock %}

{% block body %}
    <div class="container-fluid container-fluid-sign new-container-fluid new-container-fluid-2 py-5">
    <section class="section">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>ثبت نام</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form }}
{#                                <div class="row">#}
{#                                    <div class="form-group py-3">#}
{#                                        <label>ایمیل</label>#}
{#                                        <input id="email" type="email" class="form-control">#}
{#                                    </div>#}
{#                                    <div class="row">#}
{#                                        <div class="form-group py-3">#}
{#                                            <label>پسورد</label>#}
{#                                            <input id="pass" type="text" class="form-control">#}
{#                                        </div>#}
                                        <div class="form-group py-3">
                                            <button type="submit" class="btn btn-outline-primary mt-4 btn-lg w-100">ثبت نام</button>
                                        </div>
{##}
{#                                    </div>#}
{#                                </div>#}
                            </form>
                        </div>
                        <div class="mb-4 text-center justify-content-center">
                            قبلا داخل سایت ثبت نام کرده اید؟ <a href="{% url 'login_page' %}">ورود</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}