.breadcrumb-container-fluid{
    background: #e9ecef !important;
    padding: 7px 0 2px 0;
}
li.breadcrumb-item{
    font-size: 13px;
}
.breadcrumb-item{
    padding-left: 0 !important;
}
h1 a{
    color: rgb(66, 66, 66);
    font-size: 22px;
}
h1 a:hover{
    color: rgb(87, 87, 87);

}
.sidebar-2{
    padding: 0;
    border-radius: 18px;
    box-shadow: 0 0 16px #bbbbbb;
}
small{
    font-size: 15px;
}
.container-fluid-post{
    max-width: 1280px !important;
}
.text-center-img{
    background-image: url(images/2353140.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
}
.sidebar-answer.mt-4.mb-4.justify-content-center.d-none.d-lg-block.align-items-center {
    box-shadow: 0 0 16px #bbbbbb;
}
.sidebar-answer{
    background: #fff;
    border-radius: 18px !important;
    overflow: hidden;
}
.sidebar-answer .text-center{
    line-height: 2;
}
.btn-success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.content{
    box-shadow: 0 0 16px #d8d8d8;
    padding: 20px;
    border-radius: 10px;
}
.sidebar img{
    width: 48px !important;
    transform: translateY(-16px);

}
.sidebar{
    background: #cecece;
    padding: 0 45px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;

}
.content img{
    width: 100% ;
}
p.text-justify.mt-5{
    font-size: 16px;
    color: #4c4b4b;
    line-height: 2.3;

}
.share.mt-4 {
    border-top: 1px solid rgb(85, 85, 85);
}
.share.mt-4 i{
    font-size: 25px;
    color: #808080;
    transition: 0.3s all ease;
}
i.fab.fa-lg.fa-telegram.px-3:hover{
    color: #0088cc;
}
i.fab.fa-lg.fa-instagram.px-3:hover{
    color: #e1306c;
}
i.fab.fa-lg.fa-google-plus.px-3:hover{
    color: #d34836;
}
i.fab.fa-lg.fa-twitter.px-3:hover{
    color: #1da1f2;

}
.sidebar-3{
    border: 2px solid #00e7ff;
    padding: 0;
    border-radius: 19px;
}
/*.comment{*/
/*    box-shadow: 0 0 16px #d8d8d8;*/
/*    padding: 20px;*/
/*}*/
/*.media-body p{*/
/*    font-size: 15px !important;*/
/*}*/
/*.text-end {*/
/*    text-align: right!important;*/
/*}*/
.btn.btn-light{background-color:#9932cc; color:#ffff !important;}
input[type="email"]{
  text-align: right;
  direction:ltr;
}

.form-group-Comments input{
  border:1px solid #9932cc !important;
  border-radius:0.5rem !important ;
  transition:all 0.5s ease;
  padding:10px !important;
  font-size:13px ;
  color:#78797c ;
}
.form-group-Comments input:focus{
  border:1px solid #9932cc !important;
  border-radius:0.7rem !important ;
  padding:10px !important;
}


.form-group-Comments textarea{
  border:1px solid #9932cc !important;
  border-radius:0.5rem !important ;
  transition:all 0.5s ease;
  padding:10px !important;
  font-size:13px ;
  color:#78797c ;
}
.form-group-Comments textarea:focus{
  border:1px solid #9932cc !important;
  border-radius:0.7rem !important ;
  padding:10px !important;
}


/**/
.customcontainerfluid {
    background: rgb(47, 164, 142);
    background-image: url("images/all.png");
    background-size: 600px;
    background-blend-mode: exclusion;

}

input.form-control {
    font-size: 13px;
}

button.btn-search {
    background: #ffc740;
    width: 100%;
    height: 47px;
    color: #ffffff;
}

input {
    border: none !important;
    outline: none !important;
    height: 47px;

}

.input-group.text-center.align-items-center.justify-content-center.mt-5.pe-5.custom-input-group {
    width: 40rem;
    display: inline-flex;
}

.icon-info {
    width: 1000px;
    height: 130px;
    padding: 5px 50px 5px 50px;
}

.icon-info img {
    width: 70px;
}

@media (max-width: 1000px) {
    .row.row-shadow.justify-content-center {
        display: none !important;
    }

    .input-group.text-center.align-items-center.justify-content-center.mt-5.pe-5.custom-input-group {
        margin-bottom: 80px !important;
    }

}

.row-shadow {
    transform: translateY(60px);
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0px 5px 9px 2px #c1c1c1;

}

.container.custom-border {
    margin-top: 130px;
}

.new-container-fluid {
    background-image: url("images/blob-shape.svg");
    background-repeat: no-repeat;
    background-size: 560px;
}

.custom-col {
    padding: 0 8px 0 8px !important;
}

.custom-card .sblayer {
    border-radius: 15px !important;
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-card .overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.custom-card:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.sblayer {
    overflow: hidden;
    transition: all 0.2s ease;
}

p.card-text.d-block.text-muted.text-justify {
    font-size: 14px;

}

.sblayer img {
    transition: all 0.2s ease;
    transform: scale(1.1);
}

.custom-card:hover .sblayer img {
    transform: scale(1);

}

.custom-card .overlay .btn {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(1.9);
    transition: all 0.2s ease-in-out;
    border-radius: 35px;
    font-size: 13px;
}

.custom-card:hover .overlay .btn {
    transform: translate(50%, -50%) scale(1);

}

.cutom-card-body a {
    color: #000000;
    font-size: 16px;
    transition: all 0.5s ease;
}

.cutom-card-body a:hover {
    color: #4f4f4f;

}

.card {
    border: none !important;
    border-radius: 15px !important;
    transition: all 0.4s ease;
    box-shadow: 1px 3px 18px 0px rgba(191, 191, 191, 1);
}
.card-footer{
    border: none;
    border-radius: 15px !important;
    background: #ffffff;
}
.container-fluid-news{
    max-width: 1280px !important;
}
img.image-icon{
    width: 32px !important;
}
.margin-top{
    margin: 0 0 34px 0;
}
.coin{
    font-weight: bold;
}
.row-news{
    padding-bottom: 30px;

}
.custom-col .bg-light{
    background: #ffffff !important;
    padding: 0 10px;
    z-index: 999;

}
.custom-border-2::before{
    content: "";
    right: 5%;
    height: 3px;
    display: block;
    background: #4acda0;
    position: relative;
    width: 90%;
    top: 31px;
}
.custom-border-2{
    margin-top: 15px;
    margin-bottom: 35px;
}
.new-container-fluid-2{
    background-position: right;
}
.text-muted{
    text-align:right !important;
}