body{
  background-color:#ffffff;
}
a{
  color:#000000;
      text-decoration: none !important;
}
a:hover{
  color:#f2f6fc;
  text-decoration: none !important;
}
.row1{
  background-color:#ffff;
  box-shadow:0 0 20px #ebeafb !important;
  border-radius:15px;
  padding: 2rem;
}
.card{
  border-radius:15px;
}
.card-img, .card-img-top {
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}
a h5{
  color: #191414;
}
a p{
  color: #191414;
}
