{% extends 'base.html' %}
{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.bundle.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">

{% endblock %}
{% block title %} مقالات {% endblock %}

{% block body %}

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in posts %}
                {% include 'includes/post_thumbnail.html' %}
            {% endfor %}
        </div>
    </div>

    <br>

{% endblock %}
