{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.bundle.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">

{% endblock %}
{% block title %} {{ post.title }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-12">
            <div>
                <img src="{{ post.primary_image.url }}" class="img-fluid mb-12 col-12 imgee1">
                <h3 class="fw-bold">{{ post.title}}</h3>
                <hr>
                <p class="mt-12">آخرین بروزرسانی در تاریخ : {{ post.updated_at|to_jalali:'%Y %B' }}</p>
                {{ post.content|safe }}
            </div>
        </div>
    </div>
{% endblock %}