{% extends 'base.html' %}
{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.bundle.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
        <link rel="stylesheet" href="{% static 'header.css' %}">

{% endblock %}
{% block title %} بلاگ {% endblock %}

{% block body %}
    <!--s line1-->
<!--start Article-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-12">
            <div>
              <img src="{% static 'publicPages/images/777.PNG' %}" class="img-fluid mb-12 col-12 imgee1">
              <h3 class="fw-bold">تحلیل و بررسی وضعیت کمپین در گوگل ادوردز | فروش با گوگل ادز</h3>
              <hr>
              <p class="mt-12">آخرین بروزرسانی در تاریخ : 18, آذر, 1398</p>
              <h4 class="h4">تحلیل و بررسی وضعیت کمپین در گوگل ادوردز :</h4>
              <p>تحلیل و بررسی وضعیت کمپین در گوگل ادوردز :
در قسمت قبل از مقاله فروش با گوگل ادوردز با انواع تنظیمات در گوگل ادز آشنا شدید حال در این قسمت می خواهیم در رابطه با تحلیل و بررسی وضعیت کمپین در گوگل ادوردز بحث کنیم با ادامه مقاله فروش با گوگل ادوردز با آکادمی وبکیما همراه باشید.</p>
              <h4>از کجا بدانیم که تبلیغات ما در چه وضعیتی است؟</h4>
              <p>خب حالا فرض کنیم شما به یک آژانس تبلیغاتی برای تبلیغ سایت خود در گوگل ادوردز درخواست داده اید. اما از کجا بدانید کمپین شما چه وضعیتی دارد؟ از کجا معلوم چقدر هزینه شده، چند بار تبلیغ شما نمایش داده شده و چند ورودی گرفته اید؟ از کجا بدانید چه امتیازی گرفته اید و چقدر باید هزینه کنید تا تبلیغ شما روی کلمه کلیدی مورد نظرتان در لینک اول نمایش داده شود؟

گوگل ادوردز سیستم بسیار پیشرفته ای برای گزارش گیری دارد. پس خیال تان راحت باشد، زیرا قرار است جزئیات کامل و دقیقی از وضعیت کمپین تبلیغاتی خود دریافت کنید. آن هم به صورت مستقیم و بدون دخالت فردی.

به یاد داشته باشید یکی از مهم ترین وظایفی که یک آژانس تبلیغاتی در قبال شما دارد، این است که از روند تبلیغات به صورت مستمر گزارش بدهد و این حق شماست که این درخواست را داشته باشید. در ادامه روش های گزارش گیری از حساب کاربری گوگل ادز را با هم بررسی می کنیم.

</p>
          <img src="{% static 'publicPages/images/777.PNG' %}" class="img-fluid">
            <h4 class="mt-12 h4">دسترسی مستقیم به پنل کاربری گوگل ادوردز</h4>
            <p class="mb-12">شاید هیچ چیزی به اندازه داشتن دسترسی مستقیم به پنل گوگل ادوردز جذاب نباشد! در این روش شما می توانید از فرد یا شرکت ارائه دهنده خدمات گوگل ادوردز، درخواست کنید تا به شما دسترسی مستقیم به پنل گوگل بدهد.

این دسترسی در ۴ سطح ایمیل، فقط نمایش، استاندارد و مدیریت داده می شود. سطح ایمیل (EMAIL ONLY) برای زمانی است که بخواهید انواع گزارشات کمپین را در ایمیل خود دریافت کنید.

دسترسی در سطح فقط نمایش (READ ONLY) هم به شما اجازه می دهد تا تنها جزئیات کمپین خود را مشاهده کنید و اجازه اعمال تغییرات را نخواهید داشت.

در سطح استاندارد (STANDARD) شما قادر خواهید بود علاوه بر مشاهده روند کمپین تبلیغاتی خود و تمامی جزئیات آن، تغییرات مدنظر خودتان را نیز اعمال کنید. این روش زمانی توصیه می شود که آشنایی کافی با گوگل ادوردز داشته باشید.

دسترسی در سطح مدیریت (ADMIN) هم همانند دسترسی استاندارد است، با این تفاوت که می توانید پرداخت حساب را هم انجام دهید و علاوه بر آن، می توانید حساب گوگل ادوردز خودتان را به سایر ابزارهای دیجیتالی (گوگل آنالیتیکس، گوگل پلی استور و….) متصل کنید. همچنین با این سطح دسترسی می توانید سایر کاربران سیستم را نیز مدیریت کنید.

البته ممکن است برخی از شرکت ها به شما دسترسی مستقیمی به حساب کاربریتان ندهند. در این صورت حداقل درخواست شما باید این باشد که گزارشات کمپین به صورت روزانه برای شما ایمیل شود. برخی شرکت ها هم ممکن است پنل واسطی طراحی کرده باشند و از طریق آن اطلاعات و تغییرات لازم را از شما دریافت کنند.</p>
            </div>
            </div>

<!--e line1-->
<!--s line2-->

<!--e line2-->
<!--s line3-->

<!--e line3-->
<!--s line4-->

<!--e line4-->
{% endblock %}