{% extends 'base.html' %}
{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.bundle.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'course.css' %}">
        <link rel="stylesheet" href="{% static 'header.css' %}">

{% endblock %}
{% block title %} دوره {% endblock %}

{% block body %}
<!-- start breadcrumb -->
<div class="container-fluid breadcrumb-container-fluid mt-1">
    <div class="container">
    <nav>
        <ol class="breadcrumb pe-4">
            <li class="breadcrumb-item">من کجا هستم:</li>
            <li class="breadcrumb-item"><a href="#">یوزرکد</a></li>
            <li class="breadcrumb-item"><a href="#">جاوا اسکریپت</a></li>
            <li class="breadcrumb-item active"><a href="#">آموزش جاوا اسکریپت</a></li>
        </ol>
    </nav>
    </div>
</div>
<!-- end breadcrumb -->
<div class="container-fluid-post container-fluid">
    <div class="justify-content-center align-items-center mb-4 mt-5">
        <h1 class="text-center"><a href="#">آموزش جاوا اسکریپت</a></h1>
    </div>
    <!-- start sidebar -->
  <div class="row">
    <div class="col-12 col-md-12 col-lg-3 col-xl-3">
        <div class="sidebar-2">
            <a href="#" class="btn btn-success w-100 p-3 align-items-center">این دوره برای کاربران ویژه می باشد.</a>
            <div class="justify-content-between align-items-center d-flex mt-4 px-3">
                <small>نام مدرس:</small>
                <small>محمد نصرتی</small>

            </div>
            <div class="justify-content-between align-items-center d-flex mt-4 px-3">
                <small>قیمت دوره</small>
                <small>98000</small>

            </div>
            <div class="justify-content-between align-items-center d-flex mt-4 px-3">
                <small>تعداد بازدید</small>
                <small>560000</small>

            </div>
            <div class="justify-content-between align-items-center d-flex mt-4 px-3 pb-3">
                <small>تعداد دانشجویان</small>
                <small>2500</small>

            </div>
            <a href="#" class="btn btn-success w-100 p-3 align-items-center">ثبت نام در دوره</a>

        </div>
        <div class="sidebar-answer mt-4 mb-4 justify-content-center d-none d-lg-block align-items-center">
            <div class="text-center text-center-img"></div>
            <a href="#"><p class="text-dark text-center pt-3">پرسش و پاسخ</p></a>
            <p class="text-center text-dark">این بخش برای کاربران رایگان وب سایت یوزرکد فعال نمی باشد</p>

        </div>
    </div>
    <!-- start post -->
    <div class="col-12 col-md-12 col-lg-9 col-xl-9">
        <article>
            <div class="content">
                <img src="{% static 'publicPages/images/js-1.png' %}">
                <p class="text-justify mt-5">
                    داشتن یک وب سایت قابل قبول و عالی مهارت های مختلف زیادی را می طلبد.

                    اما به یاد داشته باشید که لازم نیست همه چیز را از ابتدا توسعه دهید.

                    شما می توانید با استفاده از کتابخانه های جاوا اسکریپت سرعت توسعه و کد نویسی خودتان را افزایش دهید.

                    برای استفاده از کتابخانه های مورد بحث در این مقاله نیازی به یک برنامه نویس جاوا اسکریپت سنیور (حرفه ای و متخصص) نیستید و فقط دانش خوب جاوا اسکریپت تا حد زیادی کافی است.

                    آن چه شما برای استفاده حرفه ای از این کتابخانه های جاوا اسکریپت نیاز دارید این است که بتوانید کتابخانه را با پروژه خود ادغام کنید و از بهترین ویژگی های آن در وب سایتتان بهره مند شوید.

                    شما برای استفاده از کتابخانه های جاوا اسکریپت معرفی شده در این مقاله هیچ نیازی به گذراندن دوره های مختلف و پرداخت هزینه های گزاف ندارید.

                    توانایی استفاده از این کتابخانه ها را فقط با انجام یک پروژه و در حین انجام آن و همچنین مطالعه داکیومنت (مستندات) آن کتابخانه می توانید یاد بگیرید.


                </p>

                <div class="col-12 d-flex justify-content-center align-items-center mt-5">
                    <button class="btn btn-danger p-2 w-100 text-center mb-2">
                        <i class=" fas fa-download align-middle ps-2"></i>
                        دانلود سرفصل ها
                    </button>
                </div>

                <div class="sidebar-3 mt-5">
                    <div class="sidebar justify-content-between d-flex align-items-center">
                        <img src="{% static 'publicPages/images/2353140.jpg' %}">
                      <img src="{% static 'publicPages/images/3312005.jpg' %}">

                    </div>
                    <div class="list-group my-5 list-group-flush">
                        <button type="button" class="list-group-item list-group-item-action">ساخت فرم لاگین و ثبت نام</button>
                        <button type="button" class="list-group-item list-group-item-action">ادامه ساخت صفحه لاگین</button>
                        <button type="button" class="list-group-item list-group-item-action">اضافه کردن css به پروژه</button>

                    </div>
                </div>
                <div class="share mt-4">
                    <div class="justify-content-center align-items-center d-flex mt-3">
                        <div>
                            <a href="#">
                                <i class="fab fa-lg fa-telegram px-3"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-lg fa-instagram px-3"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-lg fa-google-plus px-3"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-lg fa-twitter px-3"></i>
                            </a>
                                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <!-- end post -->
  </div>
   </div>
    <br>
    <!-- end sidebar -->
     <!-- start comment -->
    <div class="container-fluid container-fluid-post">
        <h6 class="text-end mt-4">
            دیدگاه های ارزشمند شما
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#cmnt-modal">ثبت دیدگاه</button>
        </h6>
        <div class="comment align-items-center justify-content-center mt-4">
            <div class="media">
               <img src="{% static 'publicPages/images/img_avatar3.png' %}" class="me-3 mt-3 rounded-circle" style="width: 60px;">
                <div class="media-body">
                    <h6 class="me-3">محمد نصرتی <small class="text-muted">29 آبان</small></h6>
                    <p class="me-3">
                        با تشکر از سایت خوب شما من همه حا وب سایت شما رو معرفی میکنم
                    </p>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#cmnt-modal">پاسخ</button>
                    <div class="media p-3">
                       <img src="{% static 'publicPages/images/img_avatar4 - Copy.png' %}" class="me-3 mt-3 rounded-circle" style="width: 60px;">
                        <div class="media-body">
                            <h6 class="me-3">محمد نصرتی <small class="text-muted">29 آبان</small></h6>
                            <p class="me-3">
                                با تشکر از سایت خوب شما من همه حا وب سایت شما رو معرفی میکنم
                            </p>
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#cmnt-modal">پاسخ</button>

                        </div>
                    </div>

                </div>
            </div>
            <!-- start modal -->
            <div class="modal fade" id="cmnt-modal">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">ثبت دیدگاه ارزشمند شما</h5>
                        </div>
                        <div class="modal-body">
                            <p>دیدگاه خود را بنویسید</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal -->
        </div>
    </div>
    <!-- end comment -->
    <br>
{% endblock %}