{% extends 'base.html' %}
{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.bundle.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'course.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">

{% endblock %}
{% block title %} دوره {% endblock %}

{% block body %}
    <div class="container-fluid-post container-fluid">
        <div class="justify-content-center align-items-center mb-4 mt-5">
            <h1 class="text-center"><a href="#">{{ course_preview.title }}</a></h1>
        </div>
        <!-- start sidebar -->
        <div class="row">
            <div class="col-12 col-md-12 col-lg-3 col-xl-3">
                <div class="sidebar-2">
                    {% if course_preview.is_super_course %}
                        <a href="#" class="btn btn-success w-100 p-3 align-items-center">دوره یوزرکد پلاس</a>
                    {% endif %}
                    <div class="justify-content-between align-items-center d-flex mt-4 px-3">
                        <small>نام مدرس:</small>
                        <small>{{ course_preview.teacher_name }}</small>

                    </div>
                    <div class="justify-content-between align-items-center d-flex mt-4 px-3">
                        <small>تعداد جلسات</small>
                        <small>{% if course_headlines|length > 0 %} {{ course_headlines|length }} {% else %}
                            1 {% endif %}</small>

                    </div>
                    <div class="justify-content-between align-items-center d-flex mt-4 px-3 pb-3">
                        <small>تعداد دانشجویان این دوره</small>
                        <small>{{ student_of_this_course_number }}</small>

                    </div>
                    {% if policy.need_register %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ course_preview.id }}" name="course_id">
                            <input type="submit" value="{{ policy.btn_text}}" name="course_id"
                                   class="btn btn-success w-100 p-3 align-items-center">
                        </form>
                    {% else %}
                        {% if policy.need_plan %}
                            <a href="{% url 'plans_page' %}" class="btn btn-success w-100 p-3 align-items-center">{{ policy.btn_text }}</a>
                        {% else %}
                            <p class="btn btn-success w-100 p-3 align-items-center">{{ policy.btn_text }}</p>
                        {% endif %}
                    {% endif %}

                    {% if policy.need_login %}
                        <a href="{% url 'login_page' %}" class="btn btn-success w-100 p-3 align-items-center">{{ policy.btn_txt }}</a>
                    {% endif %}

                </div>
            </div>
            <!-- start post -->
            <div class="col-12 col-md-12 col-lg-9 col-xl-9">
                <article>
                    <div class="content">
                        <video controls width="100%" poster="{{ course_preview.video_cover.url }}">
                            <source src="{{ course_preview.video_link }}"
                                    type="video/mp4">
                        </video>

                        <p class="text-justify mt-5">{{ course_preview.description }}</p>

                    </div>
                </article>
            </div>
        </div>
    </div>

    <br>

    {% if policy.show_headlines %}
        <div class="container-fluid container-fluid-news">
            <div class="row row-news">
                {% for course in course_headlines %}
                    {% include 'includes/course_tumbnail.html' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <br>

    <div class="container">
        <div class="col-12 col-md-12 col-lg-9 col-xl-9 ">
            <h5 class="h3">دیدگاه خود را بنویسید</h5>
            <form class="form-group-Comments">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group mt-5">
                            <label>نام و نام خانوادگی</label>
                            <input type="text" class="form-control text-muted" required>

                        </div>
                    </div>

                </div>
                <div class="form-group mt-4">
                    <label>پیام شما</label>
                    <textarea class="form-control" id="floatingTextarea2" style="height: 100px" required></textarea>
                </div>
                <button class="btn btn-outline-light  p-2 mt-4">ارسال پیام</button>
                <h6 class="text-end mt-4">دیدگاه های ارزشمند شما</h6>
                <div class="comment align-items-center justify-content-center mt-4">
                    <div class="media">
                        <img src="{% static 'publicPages/images/img_avatar3.png' %}" class="me-3 mt-3 rounded-circle"
                             style="width: 60px;">
                        <div class="media-body">
                            <h6 class="me-3">محمد نصرتی <small class="text-muted">29 آبان</small></h6>
                            <p class="me-3">
                                با تشکر از سایت خوب شما من همه حا وب سایت شما رو معرفی میکنم
                            </p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <br>
    <br>

    <br>
{% endblock %}