{% extends 'base.html' %}
{% load static %}

{#    <link rel="stylesheet" href="css/bootstrap.rtl.min.css">#}
{#    <link rel="stylesheet" href="style.css">#}
{#    <link rel="stylesheet" href="about.css">#}
{#    <link rel="stylesheet" href="footer.css">#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">#}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.bundle.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'publicPages/about_us.css' %}">
        <link rel="stylesheet" href="{% static 'header.css' %}">

{% endblock %}
{% block title %}ذرباره ما {% endblock %}

{% block body %}
    <div class="container">
        <!--start menu-->

        <!--end menu-->
        <!--s line1-->
        <div class="row align-items-center row1">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <h4 class="pb-2">درباره آکادمی دیجیتال مارکتینگ وبکیما</h4>
                <p>آکادمی وبکیما مجموعه ای از آموزش های دیجیتال مارکتینگ مثل: آموزش های طراحی سایت، آموزش های سئو و
                    بهینه
                    سازی سایت، آموزش وردپرس، آموزش کار با افزونه های مختلف وردپرس، خدمات و مشاوره های دیجیتال مارکتینگ
                    است
                    که به راه اندازی کسب و کار اینترنتی شما کمک می کند.</p>
                <button type="button" class="btn btn-primary w-50 pb-2">برو به صفحه تماس با ما</button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <img src="{% static 'publicPages/images/about us.PNG' %}" class="img-fluid">
            </div>
        </div>
        <!--e line1-->
        <!--s line2-->
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
            <div class="col">
                <div class="card">
                    <img src="{% static 'publicPages/images/86.svg' %}" class="card-img-top" width="120" height="130">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'publicPages/images/103.svg' %}" class="card-img-top" width="120" height="130">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'publicPages/images/117.svg' %}" class="card-img-top" width="120" height="130">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'publicPages/images/185.svg' %}" class="card-img-top" width="120" height="130">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--e line2-->
        <!--s line3-->
        <div class="row align-items-center mt-5">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <h4>آکادمی وبکیما چگونه راه اندازی شد؟</h4>
                <p>وبکیما نام برندی است که در شهریور ماه سال 1398 توسط آقای نبی عبدی در دنیای اینترنت راه اندازی شد، قبل
                    از
                    آن از بهمن ماه سال 1397 سایت وبکیما با نام کاربر وردپرس با دامنه karbarwp.com فعالیت می کرد و تمامی
                    محتواهای تولید شده روی دامنه کاربر وردپرس به دامنه جدید یعنی وبکیما انتقال یافت.

                    ایده شکل گرفتن سایت کاربر وردپرس و بعد از آن برند وبکیما از آنجایی شروع شد که نبی سالیان سال به صورت
                    پراکنده کارهای دیجیتال مارکتینگ به صورت تفریحی انجام می داد ولی خب برای کسب درآمد در حوزه فروش در
                    شرکتی
                    معتبر فعالیت می کرد.

                    از آنجا که نبی به کسب و کار های اینترنتی علاقه فراوانی داشت یک روز بالاخره تصمیم گرفت از شغلی که هیچ
                    علاقه ای به آن نداشت دست بکشد تا به علاقه اش که کار طراحی سایت و دیجیتال مارکتینگ بود بپردازد.

                    بالاخره بعد از استعفا از شغل خود سایت کاربر وردپرس را راه اندازی کرد که بعد در شهریور سال 98 نام
                    سایت را
                    به وبکیما تغییر داد.

                    این بود خلاصه ای از به وجود آمدن برند وبکیما امیدوارم که روزی تمامی شما کاربران خوب آکادمی وبکیما
                    تصمیم
                    بگیرید که از کاری که به آن علاقه ندارید دست کشیده و شغل مورد علاقه خود را دنبال کنید.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <img src="{% static 'publicPages/images/77.png' %}" class="img-fluid">
            </div>
        </div>
        <!--e line3-->
        <!-- start footer-->
        <!-- end footer-->
    </div>
{% endblock %}
