{% extends 'base.html' %}
{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.bundle.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'publicPages/contact_us.css' %}">
        <link rel="stylesheet" href="{% static 'header.css' %}">

{% endblock %}
{% block title %}ارتباط با ما {% endblock %}
{% block body %}
    <div class="container">
      <!--start menu-->

      <!--end menu-->
<!--s line1-->
<div  class="row align-items-center row1">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <h4 class="pb-2">ارتباط با آکادمی وبکیما</h4>
    <p>در این بخش می توانید با راه های مختلف ارتباط با آکادمی دیجیتال مارکتینگ وبکیما آشنا شوید، توجه داشته باشید که اگر سوالاتی در رابطه با محصولات و خدمات وبکیما دارید، می توانید از داخل حساب کاربری خود تیکت ارسال کنید تا بسیار زودتر پاسخ تان را دریافت کنید.</p>
    <button type="button" class="btn btn-primary w-50 pb-2">برو به صفحه درباره ما</button>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <img src="{% static 'publicPages/images/image2.PNG' %}" class="img-fluid">
  </div>
</div>
<!--e line1-->
<!--s line2-->
<div  class="row align-items-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
    <img src="{% static 'publicPages/images/image3.svg' %}" class="img-fluid">
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="social mb-3">
      <h2 class="social mb-5 h2">تماس از طریق شبکه های اجتماعی</h2>
      <i class="bi bi-linkedin fs-5 icon"></i>
      <i class="bi bi-twitter fs-5 icon"></i>
      <i class="bi bi-telegram fs-5 icon"></i>
      <i class="bi bi-youtube fs-5 icon"></i>
      <i class="bi bi-instagram fs-5 icon"></i>
      <i class="bi bi-telephone-fill fs-5 icon"></i>
      <button type="button" class="btn btn-primary w-50 pb-2 mt-5">عضویت در کانال تلگرام</button>
    </div>
  </div>
</div>
<!--e line2-->
<!--s line3-->
<div  class="row align-items-center mx-auto row1 mt-4">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <h4 class="pb-2 h44">نکته بسیار مهم برای تماس با وبکیما</h4>
    <p>از همراهان عزیز آکادمی وبکیما خواهشمندیم در صورت داشتن سوال در رابطه با دوره های آموزشی رایگان (دوره های آموزش المنتور، وردپرس، سئو و غیره…) در پایین همان جلسه ای که سوال دارند و در بخش نظرات، سوالات خود را مطرح نمایند.​
همچنین عزیزانی که دانشجوی دوره های وبکیما هستند، سوالات شان را فقط از طریق تیکت ارسال نمایند (برای ارسال تیکت به بخش حساب کاربری خود وارد شوید) همچنین دانشجویان عزیز دوره فقط در شرایط اضطراری می توانند از طریق شماره 09356858519 با بخش پشتیبانی سایت از طریق واتس‌اپ تماس بگیرند (توجه داشته باشید که قبل از تماس ابتدا از طریق تیکت مشکل تون رو بیان کنید اگر از طریق تیکت مشکل حل نشد، تماس بگیرید)، همچنی با آیدی webkimaa@ از طریق تلگرام می‌توانید با پشتیبانی در ارتباط باشید.

اگر نیاز به مشاوره دارید می توانید از صفحه “درخواست مشاوره اختصاصی” وقت مشاوره بگیرید.</p>
<h5 class="hcontact">ساعت پاسخگویی: روزهای کاری اداری از ساعت 10 الی 18</h5>
<h5 class="hcontact pt-3">0935-685-8519 – فقط واتس اپ</h5>
  </div>
</div>
<!--e line3-->
<!--s line4-->
<div  class="row align-items-center mx-auto row1 mt-4">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <h4 class="pb-2 h44">آدرس آکادمی دیجیتال مارکتینگ وبکیما</h4>
<p class="pcontact">تهران، شهر جدید اندیشه، شهرک مریم، فاز یک، خیابان حافظ، نبش حافظ چهارم، پلاک 402 طبقه سوم، واحد 5، آکادمی کسب و کار اینترنتی وبکیما</p>
<p class="pcontact">ایمیل :</p>
<p class="pcontact">webkimacom@gmail.com </p>
<p class="pcontact pt-3">support@webkima.com</p>
  </div>
</div>
<!--e line4-->
<!-- start footer-->


<!-- end footer-->
</div>
{% endblock %}
