
a{
  color:#000000;
      text-decoration: none !important;
}
a:hover{
  color:#f2f6fc;
  text-decoration: none !important;
}

.btn.btn-primary{background-color:#666af6;}
.row1{
  background-color:#ffff;
  box-shadow:0 0 20px #ebeafb !important;
  border-radius: 2rem;
  padding: 2rem;
}
.card{
  border-radius:1.5rem;
  text-align: center;

}

.social.mb-4.h2{
  text-align: center;
}
.social{
  text-align: center;
}
.icon{
  margin:1rem;
  color:#666af6;
  width:10rem;
  height: 5rem;
}
.pb-2.h44{
  text-align:center;
}
.hcontact{
  text-align: center;
}
.pcontact{
  text-align: center;
}
