.text-muted{
    text-align: justify !important;
}
.footer-container{
    background-image: url(image/cta_bg.png);
    background-color: #424e52;
    background-position: center;
    background-attachment: fixed;
}
.custom-ul li{
    list-style-type: square !important;
    transition: all .3s ease;
}
.custom-ul li:hover{
    transform: translateX(-10px);
}
p.d-block.text-white.custom-p{
    border-bottom: 1px solid #fff;
    padding: 17px;
}