input[type="email"]{
  text-align: right;
  direction:ltr;
}

.form-group-signing input{
  border:1px solid #9932cc !important;
  border-radius:0.5rem !important ;
  transition:all 0.5s ease;
  padding:6px !important;
  font-size:13px ;
  color:#78797c ;
}
.form-group-signing input:focus{
  border:1px solid #9932cc !important;
  border-radius:0.7rem !important ;
  padding:8px !important;
}
.btn.btn-outline-light{background-color:#9932cc; color:#ffff !important;}
.btn.btn-outline-light:hover{background-color:#ffff; color:#9932cc !important;}
/*.col-12.col-md-6.mx-auto.col-sm-12.col-lg-6.col-xl-6.col-xxl-6.justify-content-center.py-3.px-5{
  border-radius: 10PX;
  background-color: #ffff;
  box-shadow: 0 0 30px #f1def7;
}*/
.Hr{
color:#9932cc;
}
a{
  color:#9932cc ;
}
a:hover{
  color:#9932cc;
}
.box{
  border-radius: 10PX;
  background-color: #ffff;
  box-shadow: 0 0 30px #f1def7;
  padding: 5rem;
}
.box h4{
    color:#9932cc;
}
