{% load static %}
<link rel="stylesheet" href="{% static 'footer.css' %}">

<div class="row mt-3 row1 mb-4">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 mt-4">
        <p class="fs-5">درباره وبکیما</p>
        <p class="">آکادمی وبکیما مجموعه ای از آموزش ها و ابزارها و مرجعی برای پاسخگویی به نیازهای دیجیتال مارکتینگ
            و کسب و کار اینترنتی شماست. تیم وبکیما همیشه در تلاش است تا بهترین دوره های آموزشی، با بالاترین کیفیت و
            بیشترین بازدهی را برای رشد و رونق کسب و کار اینترنتی شما تولید کند. هدف آکادمی وبکیما رشد و ارتقای تجارت
            آنلاین و دیجیتال مارکتینگ در ایران به اندازه سهم خویش است</p>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-items-center mt-5">
        <p class="fs-5 mt-4">آموزش‌های رایگان</p>
        <p class="footer p">لورم</p>
        <p class="footer p">لورم</p>
        <p class="footer p">لورم</p>
        <p class="footer p">لورم</p>
        <p class="footer p">لورم</p>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-items-center mt-5">
        <p class="fs-5 mt-4">لینک‌های مفید</p>
        <a class="footer p" href="courses.html" target="_blank">بلاگ</a></br>
        <a class="footer p m-3" href="about us.html" target="_blank">حساب کاربری</a></br>
        <a class="footer p" href="courses.html" target="_blank">دوره ها</a></br>
        <a class="footer p m-3" href="about us.html" target="_blank">ارتباط با ما</a></br>
        <a class="footer p" href="Contact us.html" target="_blank">درباره ما</a><br>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-items-center mt-5">
        <p class="fs-5 mt-4">ما را در شبکه‌های اجتماعی دنبال کنید</p>
        <img src="{% static 'publicPages/images/image4.PNG' %}" class="rounded mx-auto d-block" alt="..."
             style="width:12rem">
    </div>
</div>