{% extends 'base.html' %}
{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bootstrap.bundle.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'plans.css' %}">
{% endblock %}
{% block title %}اشتراک ویژه{% endblock %}

{% block body %}
    <div class="container-fluid container-fluid-sign new-container-fluid py-4">
    <div class="container container-sign d-flex justify-content-center">
        <div class="pricing">
            <h3 class="text-center mb-4 text-white">رایگان</h3>
            <h3 class="text-center mb-4 text-white">0
                <sup class="dollar">هزار تومان</sup>
            </h3>
            <ul class="features">
                <li class="mb-5">
                    <i class="fa fa-check"></i>
                    دسترسی آنلاین به دوره ها
                </li>
            </ul>
            <a href="#">
                <button class="order-button">عضویت ویژه</button>
            </a>
        </div>
        <div class="pricing">
            <h3 class="text-center mb-4 text-white">1 ماهه</h3>
            <h3 class="text-center mb-4 text-white">125000
                <sup class="dollar">هزار تومان</sup>
            </h3>
            <ul class="features">
                <li class="mb-5">
                    <i class="fa fa-check"></i>
                    دسترسی آنلاین به دوره ها
                </li>
            </ul>
            <a href="#">
                <button class="order-button">عضویت ویژه</button>
            </a>
        </div>
        <div class="pricing">
            <h3 class="text-center mb-4 text-white">3 ماهه</h3>
            <h3 class="text-center mb-4 text-white">350000
                <sup class="dollar">هزار تومان</sup>
            </h3>
            <ul class="features">
                <li class="mb-5">
                    <i class="fa fa-check"></i>
                    دسترسی آنلاین به دوره ها
                </li>
            </ul>
            <a href="#">
                <button class="order-button">عضویت ویژه</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}